.background {

    -fx-background-color: #EDEDEDFF;
}

.pane1 {

    -fx-background-color:#FFFFFF;
}

.pane2 {

    -fx-background-color: #F8F8F8FF;
}

.button {
    -fx-padding: 5;
    -fx-background-radius: 0;
    -fx-font-family: Verdana;
}

.label {

    -fx-font-size: 18px;
}

.fieldtext {

    -fx-text-fill: #00000081;
    -fx-font-size: 10px;
}

.title {

    -fx-font-size: 24px;
}

.accept_button {

    -fx-background-color: #1486CFFF;
    -fx-text-fill: white;
    -fx-padding: 5;
    -fx-opacity: 0.8;
    -fx-background-radius: 0;
    -fx-font-family: Verdana;
    -fx-font-size: 18px;
}

.accept_button:hover {

    -fx-background-color: #1486CFFF;
    -fx-text-fill: white;
    -fx-padding: 5;
    -fx-opacity: 1.0;
    -fx-background-radius: 0;
    -fx-font-family: Verdana;
    -fx-font-size: 18px;
}

.positive_button {

    -fx-background-color: #42B549;
    -fx-text-fill: white;
    -fx-padding: 5;
    -fx-opacity: 1.0;
    -fx-background-radius: 0;
    -fx-font-family: Verdana;
}

.positive_button:hover {

    -fx-background-color: #42B549;
    -fx-text-fill: white;
    -fx-padding: 5;
    -fx-opacity: 0.8;
    -fx-background-radius: 2px;
    -fx-font-family: Verdana;
}

.negative_button {

    -fx-background-color: #EA2626;
    -fx-text-fill: white;
    -fx-padding: 5;
    -fx-opacity: 1;
    -fx-background-radius: 0;
    -fx-font-family: Verdana;
}

.negative_button:hover {

    -fx-background-color: #EA2626;
    -fx-text-fill: white;
    -fx-padding: 5;
    -fx-opacity: 0.8;
    -fx-background-radius: 0;
    -fx-font-family: Verdana;
}

.list-view {

    -fx-selection-bar: white;
    -fx-selection-bar-non-focused: white;
}

.button:disabled {

    -fx-background-color: #a4a4a4;
}