.button {
    -fx-padding: 5;
    -fx-background-radius: 0;
}

.label {

    -fx-font-size: 18px;
}

.title {

    -fx-font-size: 24px;
}

.accept_button {

    -fx-background-color: #1486CFFF;
    -fx-text-fill: white;
    -fx-padding: 5;
    -fx-opacity: 0.8;
    -fx-background-radius: 0;
}

.accept_button:hover {

    -fx-background-color: #1486CFFF;
    -fx-text-fill: white;
    -fx-padding: 5;
    -fx-opacity: 1.0;
    -fx-background-radius: 0;
}